.admin {
	border: 0px solid #000;
	width:500px;
	height:20px;
	margin:5px;
	padding:12px;
	position:relative;
	font-size:20px;
	background:light-yellow;
	
}

.admin h3 {
	
	border: 1px solid #000;
	margin: 10px;
	padding:10px;
	position:relative;
	text-align:center;
	background-color: #80f442;
}

.menü {
	
	border:1px solid #000;
	width:250px;
	height:550px;
	float:left;
	margin-bottom:10px;
	background:white;
	
}

.genel{
	
	margin-top:25px;
}

.icerik {
	
	border:1px solid #000;
	float:left;
	position:relative;
	width: 1000px;
	left:290px;
	padding:10px;
	height:550px;
	margin-top:-561px;
	margin-bottom:10px;	
	background:white;
	
}

.menü ul {
	
	margin:0px;
	padding:0px;
	list-style:none;
}

.menü ul li {

	border:1px solid #000;
	margin:8px;
	padding:10px;
	font-size:17px;
	background-color:#62c9e0;
	
}

.egs {
	
	margin-top:15px;
	color:#ff0000;
}